<h1>Instrument Sans</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<input type="checkbox" value="text" name="text"> Radio Button
<input type="checkbox" value="tesomethxt" name="text"> Radio Button
<div>
<button class="btn secondary">
  Button
</button>

<div class="form-group">
  <span class="icon">(*)</span>
  <input class="input" aria-label="Some value" type="text" placeholder="somevalue">
</div>

<div class="form-group">
  <button class="input">somevalue</button>
  <span class="caret">^</span>
  <div class="form-select">
    <ul>
      <li>somevalue</li>
      <li>somevalue</li>
      <li>somevalue</li>
      <li>somevalue</li>
    </ul>
  </div>
</div>

<div class="form-group">
  <span class="icon">(*)</span>
  <input class="input" aria-label="Some othervalue" type="text" placeholder="someothervalue">
  <span class="error-message">Please check again</span>
</div>
