@layer components {
  .btn {
    --border: 1px solid var(--primary);
    --border-hover: var(--secondary);
    --background: var(--primary);
    --background-hover: var(--secondary);
    --text-color: var(--white);
    --text-color-hover: var(--white);

    align-items: center;
    background-color: var(--background);
    border-radius: .5rem;
    border: var(--border);
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex;
    font: var(--heading-sm);
    height: 2.875rem;
    justify-content: center;
    padding: 0 1.875rem;
    transition: all var(--transition);

    &[disabled] {
      cursor: not-allowed;
      pointer-events: none;
    }

    &:hover:not([disabled]):not(.secondary),
    &:active:not([disabled]):not(.secondary),
    &:focus:not([disabled]):not(.secondary) {
      box-shadow: var(--box-shadow)
    }

    &:hover,
    &:focus,
    &[disabled] {
      background-color: var(--background-hover);
      border-color: var(--border-hover);
    }

    &:where(:has(.icon)) {
      gap: 0.5rem;
    }

    &.block {
      display: flex;
      width: 100%;
    }

    &.secondary {
      --background: var(--white);
      --background-hover: var(--tertiary);
      --text-color: var(--primary);
      --text-color-hover: var(--primary);

      &[disabled] {
        background-color: var(--tertiary);
        border-color: var(--secondary);
        opacity: 0.25;
      }
    }
  }
}
