@layer theme {
  :root {
    --primary: hsl(252, 100%, 62%);
    --secondary: hsl(252, 100%, 84%);
    --tertiary: hsl(252, 100%, 96%);
    --error: hsl(0, 100%, 61%);
    --light: hsl(0, 0%, 98%);
    --accent: var(--primary);
    --accent--alt: var(--secondary);
    --accent--ui: var(--primary);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 20%);
    --gray: hsl(0, 0%, 45%);
    --gray-light: hsl(0, 0%, 85%);

    --font-family: 'InstrumentSans', sans-serif;
    --font-weight: 400; /* Default font weight, 400, 500, 700, 800, 900 */

    --box-shadow:  0 0 2rem hsla(252, 100%, 62%, 0.25);
    --transition: .2s ease-in-out;
  }

  html {
    accent-color: var(--accent--ui);
    color-scheme: light;
  }

  body {
    color: var(--black);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
  }
}
